* {
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    text-decoration: none;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #3b3b3b;
}

a {
    color: gray;
}

span {
    font-style: normal;
}

h2, h3 {
    font-family: 'Playfair Display', serif;
    padding-bottom: 10px;
}

button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: #3b3b3b;
    color: white;
    cursor: pointer;
    font-size: 1em;
}

.header {
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
}

.header__nav {
    width: 70%;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header__label {
    font-family: 'Reenie Beanie', cursive;
    font-size: 76px;
    padding: 12px;
    text-align: center;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__ul {
    height: 50%;
    width: 100%;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    padding-bottom: 10px;
    border-bottom: solid 3px #3b3b3b;
    font-size: 1.8em;
}

.header__ul li:hover {
    transform:  scale(1.2);
    transition: linear .3s;
}

#inicio {
    background-color: #f5f5f5;
    height: 75vh;
    width: 100%;
    overflow: hidden;
    background-image: url(assets/imagempb_ada.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size:contain;
}

#inicio span {
    font-size: .5em;
}

.inicio__p {
    position: relative;
    left: 20%;
    top: 10%;
    font-family: 'Playfair Display', serif;
    font-size: 5em;
    width: auto;
    max-width: 300px;
    font-style: italic;
    line-height: 1em;
}

.inicio__p strong {
    font-style: normal;
    font-weight: 700;
}

.video {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-color: #f5f5f5;
}

.quiz {
    font-size: 1.2em;
    height: auto;
    max-height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.finish {
    display: none;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    gap: 10px;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
}

.spnQtd {
    text-align: end;
}

.answers {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.finish {
    display: none;
    flex-direction: column;
    gap: 10px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    width: 100%;
    background-color: #f5f5f5;
    gap: 10px;
    padding: 20px;
}

.footer__p {
    column-count: 2;
    column-gap: 30px;
    max-width: 600px;
    width: auto;
    text-align: justify;
}

.footer__about {
    display: flex;
    gap: 20px;
}

.footer__span {
    display: flex;
    align-items: center;
}

.footer__span img {
    max-width: 25px;
}

.footer__about img {
    max-width: 25px;
    transition: .6s;
}

.footer__about img:hover {
    transform: scale(1.4);
}

.icon--text {
    margin: 0 8px;
    animation: pulsar 1s infinite alternate;
}

@keyframes pulsar {
    0% {
        transform: scale(.8);
    }

    100% {
        transform: scale(1.2);
    }
}

@media (max-width: 600px) {
    .header__label {
        padding: 0;
    }

    .header__ul {
        flex-direction: column;
        align-items: center;
        padding: 0;
        padding-bottom: 10px;
    }
    
    .inicio__p {
        font-size: 32px;
        padding: 40px;
        top: 0;
        left: 0;
    }
}

